MYSQL_DATABASE=preschool_admin_db_v2
MYSQL_USER=preschool
MYSQL_PASSWORD=preschool
MYSQL_ROOT_PASSWORD=rootpassword

JWT_SECRET=DockerPreschool_Auth_JWT_SECRET_2026_SuperSecureKey_9xL4pQ8mZ2rT7
JWT_EXPIRATION_MS=86400000
